body{
    background-color: rgb(255, 255, 255);
}
.navbar{
    background-color: rgb(240, 240, 240);
}
.card-wrapper{
    display: flex;

}
.small-box{
    background-color: rgb(110, 110, 103);
}
.card{
    min-height: 100%;
}
.card img{
    aspect-ratio: 1/.7%;
    object-fit: cover;
    height: 7rem;
    object-position: top;
}